@font-face {
  font-family: "RobotoSerif";
  src: url("roboto-lightest.woff");
}

@font-face {
  font-family: "RobotoSerif Medium";
  src: url("RobotoSerif-Medium.ttf");
}

@font-face {
  font-family: "RobotoSerif Bold";
  src: url("RobotoSerif-Bold.ttf");
}

html.light,
body.light {
  background-color: var(--light-off-white);
}

html.dark,
body.dark {
  background-color: var(--darker-gray);
}

b {
  font-family: "RobotoSerif Medium";
  font-weight: normal;
}

:root {
  --off-white: rgb(221, 221, 221);
  --light-off-white: rgb(241, 241, 241);
  --white: #fff;
  --black: rgb(0, 0, 0);
  --dark-gray: #5a5a5a;
  --darker-gray: #181a1b;
  --charcoal: #333;
  --dark-orange: #8B4000;
  --orange: #D55600;
  --light-orange: #FFAC1C;
  --orange-yellow: #BD970D;
  --light-gray: #8f8f8f;
  --lighter-gray: #ccc;
  --dark-blue: #42426a;
  --blue: #3434be;
  --dark-brown: #3F3234;
  --darker-brown: #201B1F;
  --red: #CC0000;
  --darker-red: #A70000;
  --gold: #c4a853;
  --darker-gold: #b39440;
}

body {
  margin: 0 3rem;
  font-family: "RobotoSerif", serif;
}

#form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 375px;
  position: relative;
  margin: 0 auto;
}

#search-bar {
  border: 2px solid gray;
  border-radius: 20px;
  background-color: transparent;
  color: black;
  width: 375px;
  height: 30px;
  font-size: 16px;
  text-indent: 12px;
}

.dark #search-bar {
  color: white;
}

#search-bar:hover,
#search-bar:focus,
#search-button:hover,
search-button:focus {
  background: #eae7e7;
  box-shadow: 0 1px 5px 0 #898787;
  border-color: transparent;
}

.dark #search-bar:hover,
.dark #search-bar:focus {
  background: #2b2e34;
  box-shadow: 0 1px 6px 0 #575353;
  border-color: transparent;
  caret-color: white;
}

#search-bar:focus-visible {
  outline: none;
}

#search-button {
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 1rem;
  border: 2px solid gray;
}

.dark .highlight,
.dark .comment-highlight {
  font-family: "RobotoSerif Medium";
  color: var(--white);
  /* White text for dark background */
  box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
  font-size: 1.1rem;
}

.light .highlight {
  font-family: "RobotoSerif Medium";
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
  font-size: 1.1rem;
}

.light .comment-highlight {
  font-family: "RobotoSerif Medium";
  font-size: 1.1rem;
}


.light .comment-highlight>span {
  display: inline;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}

.go-button {
  border-radius: 0;
  border: 1px solid var(--dark-gray);
  border-left: 0px;
}

.dark .go-button {
  border-color: var(--off-white);
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .go-button:hover {
  background-color: var(--light-gray);
}


.icon-button {
  color: #3F3234;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.dark .icon-button {
  color: #AAA;
}

.icon-button:hover {
  color: #201B1F;
}

.dark .icon-button:hover {
  color: white;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-off-white);
  color: var(--darker-gray);
  border: 1px solid gray;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.dark .tooltip {
  background-color: var(--dark-gray);
  color: var(--off-white);
}

.icon-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.search-icon {
  left: 25px;
  position: relative;
  margin-top: 2px;
  color: gray;
  pointer-events: none;
}

.advanced-icon {
  right: 28px;
  position: relative;
  margin-top: 3px;
  color: gray;
  cursor: pointer;
}

.advanced-icon .icon-button {
  padding: 0;
}

p {
  margin-bottom: 1.5rem;
}

#app-content {
  padding-top: 1.2em;

}

#app-content ul {
  margin-top: 0rem;
  padding: 0rem;
  list-style-type: none;
}

#app-content ul li {
  line-height: 1.3;
}

.lists {
  display: flex;
  flex-direction: row;
  column-gap: 0rem;
  font-size: 85%;
}

.suttas {
  width: 11rem;
}

.vinaya {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.abbr {
  font-family: monospace;
  background-color: rgb(220, 220, 231);
  padding: 1px 4px;
  border: solid 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 105%;
}

.dark .abbr {
  background-color: var(--dark-blue);
}

@media only screen and (max-width: 730px) {

  .lists,
  .vinaya {
    flex-direction: column;
  }
}

p.sc-link {
  text-align: center;
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}

span.pli-lang,
span.eng-lang {
  display: block;
}

.highlight>span.eng-lang {
  display: inline;
}

.highlight>span.pli-lang {
  margin-top: .4rem;
}

.eng-lang .searchTerm,
.comment-highlight .searchTerm {
  color: var(--darker-gold);
  font-family: "RobotoSerif Bold";
}

.comment-highlight a .searchTerm {
  text-decoration: underline;
}

.dark .eng-lang .searchTerm,
.dark .comment-highlight .searchTerm {
  color: var(--gold);
}

.pli-lang .searchTerm {
  color: var(--orange);
  font-weight: bold;
  font-size: 1.1rem;
}

p,
dt,
li,
dd,
h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
}

.dark p,
.dark dt,
.dark li,
.dark dd,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
  color: var(--off-white);
}

p .pli-lang,
dt .pli-lang,
li .pli-lang,
dd .pli-lang,
h1 .pli-lang,
h2 .pli-lang,
h3 .pli-lang,
h4 .pli-lang,
h5 .pli-lang {
  font-family: 'Times New Roman', Times, serif;
  color: var(--dark-orange);
}

.dark p .pli-lang,
.dark dt .pli-lang,
.dark li .pli-lang,
.dark dd .pli-lang,
.dark h1 .pli-lang,
.dark h2 .pli-lang,
.dark h3 .pli-lang,
.dark h4 .pli-lang,
.dark h5 .pli-lang {
  color: var(--light-orange);
}

a {
  color: var(--blue);
}

.dark a {
  color: rgb(122, 122, 249);
}

dt {
  font-weight: bold;
}

.button-area {
  position: fixed;
  right: 10px;
  top: 10px;
}

#app-content {
  max-width: 45rem;
  margin: auto;
  line-height: 1.5;
}

.hide-pali p .pli-lang,
.hide-pali h2 .pli-lang,
.hide-pali h3 .pli-lang,
.hide-pali h4 .pli-lang,
.hide-pali h5 .pli-lang,
.hide-pali li .pli-lang {
  display: none !important;
}

.pli-lang {
  transition: opacity 0.3s ease, height 0.3s ease;
}

.hide-pali .pli-lang {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#footer {
  text-align: center;
}

#footer .container {
  display: flex;
  flex-direction: column;
  /* Stack the elements vertically */
  align-items: center;
  /* Center them horizontally */
}

.left-align {
  text-align: left;
}

#sutta.hide-pali p span.eng-lang {
  display: inline !important;
}

#sutta.hide-pali p {
  margin: 0px 0px 0.8rem 0rem;
}

#sutta.hide-pali blockquote.gatha p span.verse-line span.eng-lang {
  display: inline-block !important;
  margin-bottom: 0rem;
}

span.eng-lang {
  margin-bottom: 0.4rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center;
  color: #5a5a5a;
}

@media only screen and (max-width: 975px) {
  body {
    margin: 1rem 0.5rem;
  }

  .button-area {
    right: 1px;
    top: 1px;
  }
}

.byline {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

br {
  line-height: 0px;
}

.links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  min-height: 45px;
}

.links-area a {
  display: flex;
  transition: all ease 0.5s;
}

.links-area a img {
  filter: opacity(60%);
}

.links-area a:hover img {
  filter: opacity(100%);
}

.dark .links-area a img {
  filter: invert(90%) opacity(100%);
}

.dark .info-btn {
  filter: invert(100%);
}

#buttonsContainer,
#epubButtonsContainer {
  display: flex;
}

#epubButtonsContainer {
  margin-top: .2rem;
}

#infoButton,
#epubInfoButton {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoButton img,
#epubInfoButton img {
  width: 14px;
  filter: opacity(60%);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 475px) {
  .navigation {
    flex-direction: column !important;
    row-gap: 1rem;
  }
}

.hide-button {
  color: var(--black);
  border: solid 2px gray;
  padding: .2rem .3rem;
  border-radius: 3px;
}

.foreword-link {
  color: var(--orange-yellow);
  text-decoration: none;
  /* Remove any default underline */
  text-align: center;
  font-size: 30px;

}

.foreword-link:hover {
  text-decoration: underline;
  /* Add underline when hovered over */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

.button-container {
  text-align: center;
  /* Center the contents horizontally */
}

.hide-button:hover {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .hide-button {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .hide-button:hover {
  background-color: var(--blue);
  color: var(--off-white);
}

.side-by-side .segment {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.side-by-side .pli-lang,
.side-by-side .eng-lang {
  width: 48%;
}

.segment {
  word-break: break-word
}

.comment-text {
  position: absolute;
  z-index: 10;
  left: 50%;
  display: none;
  padding: 4px;
  box-sizing: border-box;
  width: 400px;
  margin-left: -150px;
  content: attr(data-tooltip);
  white-space: normal;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  /* Default light theme colors */
  color: #000000;
  background-color: #f5f4ef;
}

/* Override for dark theme */
.dark .comment-text {
  color: #FFFFFF;
  background-color: #413f3f;
}

.notification-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  /* Green background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  /* Initially hidden */
  z-index: 1000;
  /* Ensure it appears above other content */
  text-align: center;
  min-width: 200px;
  /* Adjust as needed */
  opacity: 0;
  /* Start fully transparent */
  transition: opacity 0.5s ease-in-out;
  /* Smooth transition for the opacity */
}

#cacheButton,
#downloadEpubButton {
  position: relative;
  background-color: var(--light-gray);
  color: var(--black);
  cursor: pointer;
  top: -10%;
  margin-left: auto;
  margin-right: 0em;
  padding: .1rem 0;
  font-size: 12px;
  font-family: "RobotoSerif", serif;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 3px;
  color: black;
  filter: opacity(65%);
  width: 82px;
}

#container {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 150px;
}

.info-notification-box {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: grey;
  /* Green background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  /* Initially hidden */
  z-index: 1000;
  /* Ensure it appears above other content */
  white-space: pre-line;
  /* min-width: 200px; */
  max-width: 400px;
  /* Adjust as needed */
}

.dark #cacheButton,
.dark #downloadEpubButton {
  background-color: var(--dark-blue);
  color: var(--off-white);
  border-color: var(--off-white);
}

.comment {
  display: inline-block;
  margin-right: 4px;
  color: #007bff;
  /* Link color */
  cursor: pointer;
  /* Indicates it's clickable */
  vertical-align: super;
  /* Makes the number a superscript */
  font-size: 0.75em;
  /* Adjusts the font size to match superscript style */
}

#suttanav {
  position: fixed;
  top: -50px;
  width: 100%;
  max-width: 45rem;
  /* Match the max-width of #sutta */
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  transition: top 0.3s;
  box-sizing: border-box;
  /* Include padding and border in the element's width */
  left: 50%;
  /* Center the element */
  transform: translateX(-50%);
  /* Center the element */
}

.no-results {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

#bookmarks>details> :not(:last-child) {
  margin-bottom: .5rem;
}

#bookmarks>* {
  margin: .5rem 0;
}

.bookmark-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .40);
  border-radius: 2px;
}

.bookmark-container p {
  margin: 0;
  flex-grow: 1;
  max-width: 70%;
}

.bookmark-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

.bookmark-buttons>* {
  max-width: 60%;
}

.bookmark-buttons>a {
  text-wrap: nowrap;
}

.label-checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: .3rem;
  /* Add some space between each checkbox-label pair */
}

.label-checkbox-container div {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.label-checkbox-container input[type="checkbox"] {
  margin-right: 5px;
  /* Add some space between the checkbox and the label */
}

.label-checkbox-container label {
  margin-left: 0;
  /* Remove any left margin */
}

.dark .bookmark-text {
  color: var(--off-white);
}

#commentsArea summary {
  font-size: 1.1em;
  font-weight: bold;
  padding: 4px;

}

.dark #commentsArea summary {
  color: var(--off-white);
}

/* Flexbox container for the recent suttas */
.whats-new-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
}

/* Individual sutta box */
.sutta-box {
  flex: 0 0 auto;
  width: 180px;
  /* Reduced width for compactness */
  border: 1px solid var(--lighter-gray);
  padding: 8px;
  /* Reduced padding for compactness */
  text-align: center;
}

/* Sutta title style */
.sutta-card-title {
  margin: 0;
  font-size: 1.1em;
  color: #1a0dab;
}

/* Pali title styling */
.sutta-pali-title {
  margin-top: 5px;
  font-size: 0.9em;
  color: #7f6e0a;
}

/* Date added style */
.sutta-date-added {
  margin-top: 8px;
  font-size: 0.8em;
  color: #888;
}

/* Additional tweaks for spacing and compactness */
.sutta-box h3,
.sutta-pali-title,
.sutta-date-added {
  margin-bottom: 5px;
  /* Reduced margin between elements */
}

#back-arrow {
  margin-left: 8px;
  /* Adjust as needed */
  cursor: pointer;
  font-size: 14px;
}

#copyButton,
bookmarkButton {
  width: 76px;
}

@media only screen and (max-width: 768px) {

  /* CSS rules for screens smaller than 768px */
  .comment-text {
    width: 300px;
    text-align: center;
  }

  .bookmark-container p {
    max-width: 60%;
  }

  #top-buttons.button-container {
    margin-top: initial;
  }

  .links-area {
    margin: 1rem;
  }

  .tooltip {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #suttanav {
    padding: 5px;
    /* Reduced padding on smaller screens */
    font-size: 14px;
    /* Adjusted font size for smaller screens */
  }

  .bookmark-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .bookmark-container p {
    max-width: initial;
  }

  .bookmark-buttons {
    justify-content: space-evenly;
    width: 100%;
  }

  .bookmark-buttons>* {
    max-width: 30%;
  }
}

.box-button {
  display: block;
  margin: 5px;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.box-button:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.red {
  background-color: #f44336;
}

.orange {
  background-color: orange;
}

.glossary-item {
  margin-bottom: 20px;
}

.glossary-item h2 {
  margin-bottom: 10px;
}

.definition {
  padding-left: 20px;
}

.hidden {
  display: none;
}

.suttaNavigation {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;

  a {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 48px;
    padding: 15px;
    width: 50%;
    background-color: var(--orange-yellow);
    text-decoration: none;
    color: white;

    span:nth-child(2) {
      font-size: 1rem;
    }

    &:hover {
      filter: brightness(85%);
    }
  }

  .rightAlign {
    align-items: flex-end;
    text-align: right;
  }
}

/* Additional enhancements for elegance and readability */

#top-buttons.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .3rem;
  margin-bottom: 5px;
  margin-top: -37px;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  /* Visually aligns icons with text */
}

#top-buttons .icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0.8rem;
  color: var(--dark-brown);
  font-family: "RobotoSerif Medium", serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

#top-buttons .icon-button:hover {
  background-color: var(--lighter-gray);
  color: var(--darker-brown);
}

.dark #top-buttons .icon-button {
  color: var(--off-white);
}

.dark #top-buttons .icon-button:hover {
  color: var(--darker-brown);
}

.icon-title {
  font-size: 0.9rem;
  margin-top: 4px;
  line-height: 1.2;
  white-space: nowrap;
  font-family: "RobotoSerif Medium", serif;
}

@media only screen and (max-width: 750px) {
  #top-buttons.button-container {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0 !important;
  }

  #top-buttons.button-container .icon-button {
    flex: 0 0 auto;
    padding: 0.2rem;
  }

  #top-buttons.button-container .icon-button svg {
    width: 16px;
    height: 16px;
  }

  #top-buttons.button-container .icon-title {
    font-size: 0.8rem;
    margin-top: 2px;
  }

  .links-area a {
    padding: 0.3rem;
  }

  #buttonsContainer button,
  #epubButtonsContainer button {
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-size: 10px;
  }
}
