@font-face {
  font-family: "Robto Serif";
  src: url("roboto-lightest.woff");
}

:root {
  --off-white: rgb(221, 221, 221);
  --light-off-white: rgb(241, 241, 241);
  --off-black: rgb(4, 1, 19);
  --dark-gray: #5a5a5a;
  --light-gray: #8f8f8f;
  --dark-blue: #42426a;
  --blue: #3434be;
}

body {
  margin: 1rem 3rem;
  background-color: var(--light-off-white);
  font-family: "Robto Serif", serif;
}

body.dark {
  background-color: var(--off-black);
}

#form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#citation {
  border-radius: 0;
  border: 1px solid;
  background-color: var(--off-white);
  color: var(--dark-gray);
}

.dark #citation {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

#citation:focus {
  background-color: var(--off-white);
  color: var(--off-black);
  outline: none;
}

.dark #citation:focus {
  background-color: var(--off-white);
  color: var(--off-black);
  border-color: var(--off-white);
}

.go-button {
  border-radius: 0;
  border: 1px solid var(--dark-gray);
  border-left: 0px;
}

.dark .go-button {
  border-color: var(--off-white);
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .go-button:hover {
  background-color: var(--light-gray);
}

.icon-button {
  border: none;
  background: none;
  margin-left: 5px;
}

.icon-button svg {
  margin-top: 3px;
}

p {
  margin-bottom: 1.5rem;
}

.instructions ul li {
  line-height: 1.3;
}

.instructions ul {
  margin-top: 0rem;
  padding: 0rem;
  list-style-type: none;
}

.instructions h2 {
  font-size: 1.2rem;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
  margin-left: 0rem;
}

.instructions h3 {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
  margin-left: 0rem;
}

.lists {
  display: flex;
  flex-direction: row;
  column-gap: 0rem;
  font-size: 85%;
}

.suttas {
  width: 11rem;
}

.vinaya {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.abbr {
  font-family: monospace;
  background-color: rgb(220, 220, 231);
  padding: 1px 4px;
  border: solid 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 105%;
}

.dark .abbr {
  background-color: var(--dark-blue);
}

@media only screen and (max-width: 730px) {

  .lists,
  .vinaya {
    flex-direction: column;
  }
}

p.sc-link {
  text-align: center;
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}

span.pli-lang,
span.eng-lang {
  display: block;
}

p,
dt,
li,
dd,
h1,
h2,
h3,
h4,
h5 {
  color: var(--off-black);
}

.dark p,
.dark dt,
.dark li,
.dark dd,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
  color: var(--off-white);
}

p .pli-lang,
dt .pli-lang,
li .pli-lang,
dd .pli-lang,
h1 .pli-lang,
h2 .pli-lang,
h3 .pli-lang,
h4 .pli-lang,
h5 .pli-lang {
  font-family: arial, sans-serif;
  color: var(--dark-gray);
}

.dark p .pli-lang,
.dark dt .pli-lang,
.dark li .pli-lang,
.dark dd .pli-lang,
.dark h1 .pli-lang,
.dark h2 .pli-lang,
.dark h3 .pli-lang,
.dark h4 .pli-lang,
.dark h5 .pli-lang {
  color: var(--light-gray);
}

a {
  color: var(--blue);
}

.dark a {
  color: rgb(122, 122, 249);
}

dt {
  font-weight: bold;
}

.button-area {
  position: fixed;
  right: 10px;
  top: 10px;
}

#sutta {
  max-width: 45rem;
  margin: auto;
  line-height: 1.5;
}

.hide-pali p .pli-lang,
.hide-pali h2 .pli-lang,
.hide-pali h3 .pli-lang,
.hide-pali h4 .pli-lang,
.hide-pali li .pli-lang {
  display: none !important;
}

#sutta.hide-pali p span.eng-lang {
  display: inline !important;
}

#sutta.hide-pali p {
  margin: 0px 0px 0.8rem 0rem;
}

#sutta.hide-pali blockquote.gatha p span.verse-line span.eng-lang {
  display: block !important;
  margin-bottom: 0rem;
}

span.eng-lang {
  margin-bottom: 0.4rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center;
  color: #5a5a5a;
}

@media only screen and (max-width: 975px) {
  body {
    margin: 1rem 0.5rem;
  }

  .button-area {
    right: 1px;
    top: 1px;
  }
}

.byline {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

br {
  line-height: 0px;
}

.links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  margin-top: 2rem;
}

.links-area a {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
  filter: opacity(40%);
}

.links-area a:hover {
  top: -3px;
  filter: opacity(100%);
}

.dark .links-area a {
  filter: invert(50%);
}

.dark .links-area a:hover {
  filter: invert(200%);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 475px) {
  .navigation {
    flex-direction: column !important;
    row-gap: 1rem;
  }
}

.hide-button {
  background-color: var(--off-white);
  color: var(--off-black);
  border: solid 2px var(--dark-gray);
  padding-bottom: 3px;
}

.hide-button:hover {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .hide-button {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.dark .hide-button:hover {
  background-color: var(--blue);
  color: var(--off-white);
}

.side-by-side .segment {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.side-by-side .pli-lang,
.side-by-side .eng-lang {
  width: 48%;
}

.segment {
  word-break: break-word
}